.flex-container{display: flex; align-items: center; justify-content: center;}
.left-logo{border-radius: 50%;overflow: hidden;display: flex;border: 3px solid #0d4399;padding: 0;margin: 0;flex-direction: column;width: 120px;}
.right-logo{border-radius: 50%;overflow: hidden;display: flex;border: 3px solid #0d4399;padding: 0;margin: 0;flex-direction: column;width: 120px;margin-left: -10px;}
#heading{
  height:600px;
  background: linear-gradient(159deg,#15f9ad 14.05%,#0d4399 100%);
  padding:20px 0;
  display:flex;
  flex-direction:column;
  justify-content:center;
}
.text-white{color:#f8f9fa !important;}
#shields{
  width:100%;
  height:50px;
  margin-top:-30px;
  text-align:center;
}